$text-color: #707070;

$font-weight-bold: 700;
$font-weight-normal: 500;
$font-weight-light: 400;

$font-size-title-pc: 40px;
$font-size-big-px: 24px;
$font-size-normal-px: 20px;
$font-size-small-px: 18px;

$line-height-large-deg: 140%;
$line-height-normal-deg: 100%;
$line-height-small-deg: 80%;

$line-height-large-px: 30px;

$gap-large-px: 40px;
$gap-normal-px: 25px;
$gap-small-px: 20px;

$avatar-radius: 50%;